<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>

    <add key="BaseAddress" value="https://www.labcorp.com/" />
    <add key="Browser" value="Chrome" />
    <add key="IsRetryingOnlyFailedScenarioTestsInEnvironment" value="false" />
    <add key="IsWebDriverUsingSauceLabs" value="false" />
    <add key="TunnelIdentifier" value="" />
    <add key="ScenarioTestEnvironment" value="QA" />
    <add key="ScenarioExecutionLevel" value="AllScenarios" />
    <add key="LoginUserNameForVA" value="EAUser" />
    <add key="LoginPasswordForVA" value="Gainsco99" />
    <add key="VAAgency" value="A91151" />
    <add key="VAProducer" value="Cristina Sosa" />
    <add key="LoginUserNameForTN" value="EAUser" />
    <add key="LoginPasswordForTN" value="Gainsco99" />
    <add key="TNAgency" value="A84011" />
    <add key="TNProducer" value="Cristina Anguiano" />
    <add key="LoginUserNameForOH" value="EAUser" />
    <add key="LoginPasswordForOH" value="Gainsco99" />
    <add key="OHAgency" value="A57042" />
    <add key="OHProducer" value="LINA ZHANG" />
    <add key="InvalidUserName" value="GAIAdmi" />
    <add key="InvalidPassword" value="Gainsco" />
    <add key="FirstName" value="UATJO" />
    <add key="InsuredMiddleName" value="M" />
    <add key="LastName" value="TESTVA" />
    <add key="EndorsementNote" value="Basic Endorsement" />
    <add key="SecondDriverFirstName" value="JOTWO" />
    <add key="SecondDriverLastName" value="TEST" />
    <add key="NameOnBankAccount" value="Test Data" />
    <add key="RoutingNumber" value="122105278" />
    <add key="CheckAccountNumber" value="0000000008" />

    <add key="BirthDate" value="11/11/1981" />
    <add key="BirthDateLessThanEighteen" value="11/11/2018" />
    <add key="BirthDateLessThanTwentyOneMoreThanEighteen" value="11/11/2001" />
    <add key="BirthDateInFuture" value="11/11/2023" />
    <add key="OccuranceDateInFuture" value="11/11/2023" />
    <add key="EndorsementDateInFuture" value="11/11/2023" />
    <add key="InvalidBirthDate" value="11/11/1900" />
    <add key="PastEffectiveDate" value="11/11/2018" />
    <add key="EffectiveDateInFuture" value="11/11/2023" />
    <add key="ZipCodeVA" value="23231" />
    <add key="BirthDateMoreThanFiftyFourYearsOld" value="11/11/1955" />
    <add key="DriverTrainingCompletionDateInFuture" value="11/11/2023" />
    <add key="InvalidZipcodeForVirginia" value="75068" />
    <add key="PrimaryPhone" value="9999999999" />
    <add key="Email" value="j@gainsco.com" />
    <add key="DriverFirstName" value="Test" />
    <add key="DriverLastName" value="NA" />
    <add key="EndorseLastName" value="Endorse" />
    <add key="EndorseEmail" value="Endorse@gainsco.com" />
    <add key="DriverBirthDate" value="11/11/1981" />
    <add key="FirstFourLettersofPolicyNumberForVirginia" value="VAPA" />
    <add key="DriverTwoFirstName" value="UATJYO" />
    <add key="LiveAddressVA" value="20 FRONTIER RIDGE CT APT 3301" />
    <add key="LiveCityVA" value="STAUNTON" />
    <add key="LiveDOBVA" value="05/07/1995" />
    <add key="LiveDriverLicenseNumberVA" value="T65259975" />
    <add key="LiveFirstNameVA" value="DASIA" />
    <add key="LiveLastNameVA" value="JOHNSON" />
    <add key="LiveMiddleNameVA" value="A" />
    <add key="LiveZipVA" value="24401" />
    <add key="DeceasedAddressVA" value="1551 DEERVIEW" />
    <add key="DeceasedCityVA" value="FOREST" />
    <add key="DeceasedDOBVA" value="08/01/1989" />
    <add key="DeceasedFirstNameVA" value="DAVID" />
    <add key="DeceasedLastNameVA" value="CHEBRA" />
    <add key="DeceasedZipVA" value="24551" />
    <add key="DeceasedLicenseNumberVA" value="666873304" />

    <add key="DeceasedAddressTN" value="213 WEST" />
    <add key="DeceasedCityTN" value="WHITE HOUSE" />
    <add key="DeceasedDOBTN" value="08/01/1950" />
    <add key="DeceasedFirstNameTN" value="RICHARD" />
    <add key="DeceasedLastNameTN" value="LONG" />
    <add key="DeceasedZipTN" value="37188" />
    <add key="DeceasedLicenseNumberTN" value="666660345" />

    <add key="DeceasedAddressOH" value="1076 FOREST" />
    <add key="DeceasedCityOH" value="BEAVERCREEK" />
    <add key="DeceasedDOBOH" value="08/01/1984" />
    <add key="DeceasedFirstNameOH" value="NANCY" />
    <add key="DeceasedLastNameOH" value="ROBINSON" />
    <add key="DeceasedZipOH" value="45434" />
    <add key="DeceasedLicenseNumberOH" value="RU123456" />
    <add key="LHRFirstNameTN" value="MINDY" />
    <add key="LHRLastNameTN" value="TAYEH" />
    <add key="LHRDriverLicenseNumberTN" value="078993472" />
    <add key="LHRDOBTN" value="09/30/1976" />
    <add key="POBoxZipCodeVA" value="20128" />
    <add key="POBoxZipCodeTN" value="37011" />
    <add key="POBoxZipCodeOH" value="43005" />
    <add key="LiveSecondDriverDOBVA" value="05/07/1996" />
    <add key="LiveSecondDriverLicenseNumberVA" value="T65259934" />
    <add key="LiveSecondDriverFirstNameVA" value="JON" />
    <add key="LiveSecondDriverLastNameVA" value="JOHNSON" />
    <add key="LiveSecondDriverMiddleNameVA" value="B" />
    <add key="LiveThirdDriverDOBVA" value="05/07/1994" />
    <add key="LiveThirdDriverLicenseNumberVA" value="T65259939" />
    <add key="LiveThirdDriverFirstNameVA" value="RON" />
    <add key="LiveThirdDriverLastNameVA" value="JOHNSON" />
    <add key="LiveThirdDriverMiddleNameVA" value="C" />
    <add key="PriorInsuranceExpirationDateInFuture" value="11/11/2023" />
    <add key="PriorInsuranceExpirationDateInPast" value="11/11/2018" />
    <add key="ValidDateOfBirthForDriverTwoVA" value="11/11/1986" />
    <add key="MailingAddressOne" value="11 Test Dr" />
    <add key="MailingCityVA" value="Virginia" />

    <add key="GoodVin" value="19UUB2F7XFA004606" />
    <add key="GoodSecondVin" value="2GNALDEKXC1204902" />
    <add key="GoodThirdVin" value="5NPEB4ACXEH898990" />
    <add key="GoodFourthVin" value="2HNYD28347H546625" />
    <add key="RestrictedVehicleVin" value="1GBJC34U76E189028" />
    <add key="BadVin" value="1N4BU31D8VZ168805" />
    <add key="InvalidVin" value="11111111111111111" />
    <add key="UnacceptableVehicleVin" value="1GNSKHKC4LR113689" />
    <add key="SalvageTitleVehicleVin" value="1N6AA07A54N593361" />
    <add key="LicenseNumberVA" value="123456789" />
    <add key="ThirtyYearsOldVehicleVin" value="1HGCA6167KA050831" />
    <add key="CustomPaintValue" value="200" />
    <add key="VinWithSpecialCharacters" value="123!@#" />
    <add key="SuggestedVin" value="3D7MX48B67G836876" />

    <add key="SecondDriverLicenseNumberVA" value="123456788" />
    <add key="TwentyYearsOldVehicleVin" value="1HGCE666XSA020008" />
    <add key="VirginiaAgentCode" value="99951" />
    <add key="As400VehicleInfoSchemaTable" value="LDSQA3FIL.DRVEHCLE" />
    <add key="CommaDelimitedScenariosToLog" value="" />
    <add key="RequestMaxRetry" value="100" />
    <add key="SleepTimeInMilliseconds" value="9000" />
    <add key="TimeSpanShortWaitTicks" value="9000000" />
    <add key="TimeSpanWaitTicks" value="900000000" />
    <add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="True" />
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\myapp-{Date}.txt" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:write-to:MSSqlServer.connectionString" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Logging;Data Source=localhost" />
    <add key="serilog:write-to:MSSqlServer.tableName" value="Logs" />
    <add key="serilog:write-to:LiterateConsole" />
    <add key="serilog:using:LiterateConsole" value="Serilog.Sinks.Literate" />
    <add key="serilog:write-to:LiterateConsole" />
    <add key="serilog:using:MSSqlSever" value="Serilog.Sinks.MSSqlServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LiveFirstNameWithLHRVA" value="JEREMY" />
    <add key="LiveLastNameWithLHRVA" value="THOMAS" />
    <add key="LiveDriverLicenseNumberWithLHRVA" value="A61289141" />
    <add key="LiveDOBWithLHRVA" value="03/02/1997" />
    <add key="LiveFirstNameWithMVRVA" value="DANA" />
    <add key="LiveLastNameWithMVRVA" value="WHITTEN" />
    <add key="LiveDriverLicenseNumberWithMVRVA" value="B69645463" />
    <add key="LiveDOBWithMVRVA" value="04/30/1946" />
    <add key="LiveDOBWithWrongMVRVA" value="7/22/1977" />
    <add key="NonOwnersFirstName" value="NonOwners" />
    <add key="NonOwnersLastNameVA" value="NONOWNERTESTVA" />
    <add key="NonOwnersLastNameTN" value="NONOWNERTESTTN" />
    <add key="NonOwnersLastNameOH" value="NONOWNERTESTOH" />
    <add key="MVRFirstNameTN" value="BRANDIE" />
    <add key="MVRLastNameTN" value="DAVIS" />
    <add key="MVRDriverLicenseNumberTN" value="887299416" />
    <add key="MVRDOBTN" value="04/18/1959" />
    <add key="MVRWrongDOBTN" value="7/22/1977" />
    <add key="MVRFirstNameOH" value="DONNA" />
    <add key="MVRLastNameOH" value="BATES" />
    <add key="MVRDriverLicenseNumberOH" value="RU726682" />
    <add key="MVRDOBOH" value="03/17/1972" />
    <add key="MVRWrongDOBOH" value="7/22/1977" />
    <add key="FirstNameTN" value="TN" />
    <add key="InsuredMiddleNameTN" value="M" />
    <add key="LastNameTN" value="TESTTN" />
    <add key="MailingCityTN" value="Spencer" />
    <add key="ZipCodeTN" value="38585" />
    <add key="LicenseNumberTN" value="123456789" />
    <add key="FirstFourLettersofPolicyNumberForTennessee" value="TNPA" />
    <add key="SecondDriverLicenseNumberTN" value="123456788" />
    <add key="ValidDateOfBirthForDriverTwoTN" value="11/11/1982" />
    <add key="SecondDriverFirstNameTN" value="TNTWO" />
    <add key="SecondDriverLastNameTN" value="TESTTN" />

    <add key="FirstNameOH" value="UATOH" />
    <add key="InsuredMiddleNameOH" value="M" />
    <add key="LastNameOH" value="TESTOH" />
    <add key="SecondDriverFirstNameOH" value="OHTWO" />
    <add key="SecondDriverLastNameOH" value="TESTOH" />
    <add key="SecondDriverLicenseNumberOH" value="AC123456" />
    <add key="ValidDateOfBirthForDriverTwoOH" value="11/11/1983" />
    <add key="ZipCodeOH" value="43235" />
    <add key="FirstFourLettersofPolicyNumberForOhio" value="OHPA" />
    <add key="MailingCityOH" value="Colombus" />
    <add key="LicenseNumberOH" value="AB345678" />
    <add key="DriverCaseNumber" value="12345" />
    <add key="LoginUserNameForAR" value="EAUser" />
    <add key="LoginPasswordForAR" value="Gainsco99" />
    <add key="ARAgency" value="A90006" />
    <add key="ARProducer" value="Munira Adenwalla" />
    <add key="LoginUserNameForIN" value="EAUser" />
    <add key="LoginPasswordForIN" value="Gainsco99" />
    <add key="INAgency" value="A90016" />
    <add key="INProducer" value="Munira Adenwalla" />
    <add key="FirstNameAR" value="JO" />
    <add key="LastNameAR" value="TESTAR" />
    <add key="MailingCityAR" value="PINE BLUFF" />
    <add key="ZipCodeAR" value="71601" />
    <add key="LicenseNumberAR" value="121212121" />
    <add key="SecondDriverLicenseNumberAR" value="111234561" />
    <add key="ValidDateOfBirthForDriverTwoAR" value="11/11/1986" />
    <add key="SecondDriverLastNameAR" value="TESTAR" />
    <add key="POBoxZipCodeAR" value="71649" />
    <add key="MVRFirstNameAR" value="SHIRLEY" />
    <add key="MVRLastNameAR" value="TEER" />
    <add key="MVRDriverLicenseNumberAR" value="882366750" />
    <add key="MVRDOBAR" value="12/14/1967" />
    <add key="MVRWrongDOBAR" value="7/22/1977" />
    <add key="FirstFourLettersofPolicyNumberForArkansas" value="ARPA" />
    <add key="FirstNameIN" value="JO" />
    <add key="LastNameIN" value="TESTIN" />
    <add key="MailingCityIN" value="ALEXANDRIA" />
    <add key="ZipCodeIN" value="46001" />
    <add key="LicenseNumberIN" value="1234567891" />
    <add key="SecondDriverLicenseNumberIN" value="1112345611" />
    <add key="ValidDateOfBirthForDriverTwoIN" value="11/11/1986" />
    <add key="SecondDriverLastNameIN" value="TESTIN" />
    <add key="POBoxZipCodeIN" value="46046" />
    <add key="MVRFirstNameIN" value="HOLLY" />
    <add key="MVRLastNameIN" value="NEAL" />
    <add key="MVRDriverLicenseNumberIN" value="8936298559" />
    <add key="MVRDOBIN" value="03/12/1957" />
    <add key="MVRWrongDOBIN" value="7/22/1977" />
    <add key="FirstFourLettersofPolicyNumberForIndiana" value="INPA" />
    <add key="LoginUserNameForTX" value="EAUser" />
    <add key="LoginPasswordForTX" value="Gainsco99" />
    <add key="TXAgency" value="A90066" />
    <add key="TXProducer" value="Munira Adenwalla" />
    <add key="LoginUserNameForNM" value="EAUser" />
    <add key="LoginPasswordForNM" value="Gainsco99" />
    <add key="NMAgency" value="A90035" />
    <add key="NMProducer" value="Munira Adenwalla" />
    <add key="FirstNameTX" value="JO" />
    <add key="LastNameTX" value="TESTTX" />
    <add key="MailingCityTX" value="FRISCO" />
    <add key="ZipCodeTX" value="75034" />
    <add key="LicenseNumberTX" value="12345678" />
    <add key="FirstFourLettersofPolicyNumberForTexas" value="TXPA" />
    <add key="SecondDriverLicenseNumberTX" value="11123456" />
    <add key="ValidDateOfBirthForDriverTwoTX" value="11/11/1986" />
    <add key="SecondDriverLastNameTX" value="TESTTX" />
    <add key="POBoxZipCodeTX" value="75014" />
    <add key="LHRFirstNameTX" value="ALANNA" />
    <add key="LHRLastNameTX" value="MARTIN" />
    <add key="LHRDriverLicenseNumberTX" value="43166122" />
    <add key="LHRDOBTX" value="05/01/2002" />
    <add key="LoginUserNameForIL" value="EAUser" />
    <add key="LoginPasswordForIL" value="Gainsco99" />
    <add key="ILAgency" value="A90017" />
    <add key="ILProducer" value="Munira Adenwalla" />
    <add key="FirstNameIL" value="JO" />
    <add key="LastNameIL" value="TESTIL" />
    <add key="MailingCityIL" value="ALDEN" />
    <add key="ZipCodeIL" value="60001" />
    <add key="LicenseNumberIL" value="A12345678912" />
    <add key="FirstFourLettersofPolicyNumberForIllinois" value="ILPA" />
    <add key="SecondDriverLicenseNumberIL" value="A11123456789" />
    <add key="ValidDateOfBirthForDriverTwoIL" value="11/11/1986" />
    <add key="SecondDriverLastNameIL" value="TESTIL" />
    <add key="POBoxZipCodeIL" value="60029" />
    <add key="MVRFirstNameIL" value="MARTHA" />
    <add key="MVRLastNameIL" value="SCHALLER" />
    <add key="MVRDriverLicenseNumberIL" value="S60055072226" />
    <add key="MVRDOBIL" value="11/19/1960" />
    <add key="MVRWrongDOBIL" value="07/22/1977" />
    <add key="ADDMailingAddressVA" value="16457 CANYON DR" />
    <add key="ADDCityVA" value="ABINGDON" />
    <add key="ADDZipVA" value="24211" />
    <add key="VAState" value="VA" />
    <add key="DeceasedAddressAR" value="212 JOPLIN" />
    <add key="DeceasedCityAR" value="GREENWOOD" />
    <add key="DeceasedDOBAR" value="08/01/1984" />
    <add key="DeceasedFirstNameAR" value="MATTHEW" />
    <add key="DeceasedLastNameAR" value="REED" />
    <add key="DeceasedZipAR" value="72936" />
    <add key="DeceasedAddressIN" value="1901 HOLMES" />
    <add key="DeceasedCityIN" value="INDIANAPOLIS" />
    <add key="DeceasedDOBIN" value="08/01/1982" />
    <add key="DeceasedFirstNameIN" value="KENDRA" />
    <add key="DeceasedLastNameIN" value="BALL" />
    <add key="DeceasedZipIN" value="46222" />
    <add key="DeceasedAddressIL" value="306 WELLESLEY" />
    <add key="DeceasedCityIL" value="SCHAUMBURG" />
    <add key="DeceasedDOBIL" value="08/01/1987" />
    <add key="DeceasedFirstNameIL" value="ABE" />
    <add key="DeceasedLastNameIL" value="MENDOZA" />
    <add key="DeceasedZipIL" value="60193" />
    <add key="LoginUserNameForOK" value="EAUser" />
    <add key="LoginPasswordForOK" value="Gainsco99" />
    <add key="OKAgency" value="A90040" />
    <add key="OKProducer" value="Munira Adenwalla" />
    <add key="FirstNameOK" value="JO" />
    <add key="LastNameOK" value="TESTOK" />
    <add key="MailingCityOK" value="STILLWATER" />
    <add key="ZipCodeOK" value="74074" />
    <add key="LicenseNumberOK" value="A123456789" />
    <add key="FirstFourLettersofPolicyNumberForOklahoma" value="OKPA" />
    <add key="SecondDriverLicenseNumberOK" value="A111234567" />
    <add key="ValidDateOfBirthForDriverTwoOK" value="11/11/1986" />
    <add key="SecondDriverLastNameOK" value="TESTOK" />
    <add key="POBoxZipCodeOK" value="73001" />
    <add key="DeceasedAddressOK" value="405 GRANDVIEW" />
    <add key="DeceasedCityOK" value="MUSKOGEE" />
    <add key="DeceasedDOBOK" value="08/01/1993" />
    <add key="DeceasedFirstNameOK" value="DEBORAH" />
    <add key="DeceasedLastNameOK" value="HOLVEG" />
    <add key="DeceasedZipOK" value="74403" />
    <add key="LHRFirstNameOK" value="MICHELE" />
    <add key="LHRLastNameOK" value="GAINES" />
    <add key="LHRDriverLicenseNumberOK" value="N084080640" />
    <add key="LHRDOBOK" value="07/16/1996" />
    <add key="MVRFirstNameTX" value="LISA" />
    <add key="MVRLastNameTX" value="EISNER" />
    <add key="MVRDriverLicenseNumberTX" value="19901771" />
    <add key="MVRDOBTX" value="11/13/1962" />
    <add key="MVRWrongDOBTX" value="07/22/1977" />
    <add key="FirstNameNM" value="JO" />
    <add key="LastNameNM" value="TESTNM" />
    <add key="MailingCityNM" value="ALGODONES" />
    <add key="ZipCodeNM" value="87001" />
    <add key="LicenseNumberNM" value="123456789" />
    <add key="FirstFourLettersofPolicyNumberForNewMexico" value="NMPA" />
    <add key="SecondDriverLicenseNumberNM" value="111234567" />
    <add key="ValidDateOfBirthForDriverTwoNM" value="11/11/1986" />
    <add key="SecondDriverLastNameNM" value="TESTNM" />
    <add key="POBoxZipCodeNM" value="87057" />
    <add key="DeceasedAddressNM" value="814 MAGNOLIA" />
    <add key="DeceasedCityNM" value="TRUTH OR CONSEQUENCES" />
    <add key="DeceasedDOBNM" value="08/01/1962" />
    <add key="DeceasedFirstNameNM" value="EMILY" />
    <add key="DeceasedLastNameNM" value="RICE" />
    <add key="DeceasedZipNM" value="87901" />
    <add key="LHRFirstNameNM" value="ANTHONY" />
    <add key="LHRLastNameNM" value="MEDELLIN" />
    <add key="LHRDriverLicenseNumberNM" value="515474005" />
    <add key="LHRDOBNM" value="06/16/2000" />
    <add key="MVRFirstNameNM" value="CASSUNDRA" />
    <add key="MVRLastNameNM" value="PENA" />
    <add key="MVRDriverLicenseNumberNM" value="885762752" />
    <add key="MVRDOBNM" value="07/09/1965" />
    <add key="MVRWrongDOBNM" value="07/22/1977" />
    <add key="ADDMailingAddressOH" value="139 GALE ST" />
    <add key="ADDCityOH" value="AKRON" />
    <add key="ADDZipOH" value="44302" />
    <add key="OHState" value="OH" />
    <add key="ADDMailingAddressTN" value="1775 ROSSON RD" />
    <add key="ADDCityTN" value="ADAMS" />
    <add key="ADDZipTN" value="37010" />
    <add key="TNState" value="TN" />
    <add key="ADDMailingAddressAR" value="13822 E POLK RD" />
    <add key="ADDCityAR" value="ALEXANDER" />
    <add key="ADDZipAR" value="72002" />
    <add key="ARState" value="AR" />
    <add key="ADDMailingAddressIN" value="611 E LAKE ST" />
    <add key="ADDCityIN" value="BOONVILLE" />
    <add key="ADDZipIN" value="47601" />
    <add key="INState" value="IN" />
    <add key="ADDMailingAddressIL" value="220 N LOUCKS ST" />
    <add key="ADDCityIL" value="AURORA" />
    <add key="ADDZipIL" value="60505" />
    <add key="ILState" value="IL" />
    <add key="ADDMailingAddressAZ" value="718 E OSAGE AVE" />
    <add key="ADDCityAZ" value="APACHE JUNCTION" />
    <add key="ADDZipAZ" value="85119" />
    <add key="AZState" value="AZ" />
    <add key="ADDMailingAddressTX" value="1220 SHADETREE LN" />
    <add key="ADDCityTX" value="ALLEN" />
    <add key="ADDZipTX" value="75013" />
    <add key="TXState" value="TX" />
    <add key="LoginUserNameForAZ" value="EAUser" />
    <add key="LoginPasswordForAZ" value="Gainsco99" />
    <add key="AZAgency" value="A84001" />
    <add key="AZProducer" value="Cristina Sosa" />
    <add key="FirstNameAZ" value="JO" />
    <add key="LastNameAZ" value="TESTAZ" />
    <add key="MailingCityAZ" value="PHOENIX" />
    <add key="ZipCodeAZ" value="85029" />
    <add key="LicenseNumberAZ" value="123456789" />
    <add key="FirstFourLettersofPolicyNumberForArizona" value="AZPA" />
    <add key="SecondDriverLicenseNumberAZ" value="111234567" />
    <add key="ValidDateOfBirthForDriverTwoAZ" value="11/11/1986" />
    <add key="SecondDriverLastNameAZ" value="TESTAZ" />
    <add key="POBoxZipCodeAZ" value="85221" />
    <add key="LHRFirstNameAZ" value="STEVEN" />
    <add key="LHRLastNameAZ" value="ADKINS" />
    <add key="LHRDriverLicenseNumberAZ" value="B14865762" />
    <add key="LHRDOBAZ" value="04/15/1986" />
    <add key="MVRFirstNameAZ" value="LAURA" />
    <add key="MVRLastNameAZ" value="URBINA" />
    <add key="MVRDriverLicenseNumberAZ" value="D01334823" />
    <add key="MVRDOBAZ" value="07/24/1967" />
    <add key="MVRWrongDOBAZ" value="07/22/1977" />
    <add key="LoginUserNameForUT" value="EAUser" />
    <add key="LoginPasswordForUT" value="Gainsco99" />
    <add key="UTAgency" value="A57047" />
    <add key="UTProducer" value="LINA ZHANG" />
    <add key="FirstNameUT" value="JO" />
    <add key="LastNameUT" value="TESTUT" />
    <add key="MailingCityUT" value="SALT LAKE CITY" />
    <add key="ZipCodeUT" value="84001" />
    <add key="LicenseNumberUT" value="123456789" />
    <add key="FirstFourLettersofPolicyNumberForUtah" value="UTPA" />
    <add key="SecondDriverLicenseNumberUT" value="111234567" />
    <add key="ValidDateOfBirthForDriverTwoUT" value="11/11/1986" />
    <add key="SecondDriverLastNameUT" value="TESTUT" />
    <add key="POBoxZipCodeUT" value="84011" />
    <add key="LHRFirstNameUT" value="HAYDEN" />
    <add key="LHRLastNameUT" value="GRAY" />
    <add key="LHRDriverLicenseNumberUT" value="175740757" />
    <add key="LHRDOBUT" value="12/06/1991" />
    <add key="MVRFirstNameUT" value="MARIE" />
    <add key="MVRLastNameUT" value="HAMILTON" />
    <add key="MVRDriverLicenseNumberUT" value="885500424" />
    <add key="MVRDOBUT" value="08/09/1967" />
    <add key="MVRWrongDOBUT" value="07/22/1977" />
    <add key="ADDMailingAddressNM" value="1219 DESERT DAWN DR" />
    <add key="ADDCityNM" value="ALAMOGORDO" />
    <add key="ADDZipNM" value="88310" />
    <add key="NMState" value="NM" />
    <add key="ADDMailingAddressOK" value="402 E MAIN ST" />
    <add key="ADDCityOK" value="ADA" />
    <add key="ADDZipOK" value="74820" />
    <add key="OKState" value="OK" />
    <add key="LoginUserNameForGA" value="EAUser" />
    <add key="LoginPasswordForGA" value="Gainsco99" />
    <add key="GAAgency" value="A57038" />
    <add key="GAProducer" value="LINA ZHANG" />
    <add key="FirstNameGA" value="JO" />
    <add key="LastNameGA" value="TESTGA" />
    <add key="MailingCityGA" value="NORCROSS" />
    <add key="ZipCodeGA" value="30097" />
    <add key="LicenseNumberGA" value="123456789" />
    <add key="FirstFourLettersofPolicyNumberForGeorgia" value="GAPA" />
    <add key="SecondDriverLicenseNumberGA" value="111234561" />
    <add key="ValidDateOfBirthForDriverTwoGA" value="11/11/1986" />
    <add key="SecondDriverLastNameGA" value="TESTGA" />
    <add key="POBoxZipCodeGA" value="30018" />
    <add key="LHRFirstNameGA" value="LAUREN" />
    <add key="LHRLastNameGA" value="HARVEY" />
    <add key="LHRDriverLicenseNumberGA" value="053074850" />
    <add key="LHRDOBGA" value="06/24/1987" />
    <add key="MVRFirstNameGA" value="MARY" />
    <add key="MVRLastNameGA" value="BADEAU" />
    <add key="MVRDriverLicenseNumberGA" value="888601643" />
    <add key="MVRDOBGA" value="04/30/1955" />
    <add key="MVRWrongDOBGA" value="07/22/1977" />
    <add key="LoginUserNameForSC" value="EAUser" />
    <add key="LoginPasswordForSC" value="Gainsco99" />
    <add key="SCAgency" value="A57044" />
    <add key="SCProducer" value="LINA ZHANG" />
    <add key="FirstNameSC" value="JO" />
    <add key="LastNameSC" value="TESTSC" />
    <add key="MailingCitySC" value="CAMDEN" />
    <add key="ZipCodeSC" value="29020" />
    <add key="LicenseNumberSC" value="123456789" />
    <add key="FirstFourLettersofPolicyNumberForSouthCarolina" value="SCPA" />
    <add key="SecondDriverLicenseNumberSC" value="111234561" />
    <add key="ValidDateOfBirthForDriverTwoSC" value="11/11/1986" />
    <add key="SecondDriverLastNameSC" value="TESTSC" />
    <add key="POBoxZipCodeSC" value="29002" />
    <add key="LHRFirstNameSC" value="NICOLE" />
    <add key="LHRLastNameSC" value="FORD" />
    <add key="LHRDriverLicenseNumberSC" value="090466539" />
    <add key="LHRDOBSC" value="07/28/1984" />

    <add key="LoginUserNameForAL" value="EAUser" />
    <add key="LoginPasswordForAL" value="Gainsco99" />
    <add key="ALAgency" value="A84000" />
    <add key="ALProducer" value="Cristina Sosa" />
    <add key="FirstNameAL" value="JO" />
    <add key="LastNameAL" value="TESTAL" />
    <add key="MailingCityAL" value="ADAMSVILLE" />
    <add key="ZipCodeAL" value="35005" />
    <add key="LicenseNumberAL" value="12345678" />
    <add key="FirstFourLettersofPolicyNumberForAlabama" value="ALPA" />
    <add key="SecondDriverLicenseNumberAL" value="1112345" />
    <add key="ValidDateOfBirthForDriverTwoAL" value="11/11/1986" />
    <add key="SecondDriverLastNameAL" value="TESTAL" />
    <add key="POBoxZipCodeAL" value="35013" />
    <add key="LHRFirstNameAL" value="JONATHAN" />
    <add key="LHRLastNameAL" value="WOODARD" />
    <add key="LHRDriverLicenseNumberAL" value="7210221" />
    <add key="LHRDOBAL" value="05/01/1984" />
    <add key="MVRFirstNameAL" value="THERESE" />
    <add key="MVRLastNameAL" value="ROBINSON" />
    <add key="MVRDriverLicenseNumberAL" value="5597059" />
    <add key="MVRDOBAL" value="11/16/1974" />
    <add key="MVRWrongDOBAL" value="11/11/1977" />

    <add key="ADDMailingAddressGA" value="101 JAYNE ELLEN WAY" />
    <add key="ADDCityGA" value="ALPHARETTA" />
    <add key="ADDZipGA" value="30009" />
    <add key="GAState" value="GA" />

    <add key="ADDMailingAddressSC" value="110 GLACE WAY" />
    <add key="ADDCitySC" value="ABBEVILLE" />
    <add key="ADDZipSC" value="29620" />
    <add key="SCState" value="SC" />

    <add key="LoginUserNameForMO" value="EAUser" />
    <add key="LoginPasswordForMO" value="Gainsco99" />
    <add key="MOAgency" value="A57452" />
    <add key="MOProducer" value="COFORGE PARTNER4" />
    <add key="FirstNameMO" value="JO" />
    <add key="LastNameMO" value="TESTMO" />
    <add key="MailingCityMO" value="FLETCHER" />
    <add key="ZipCodeMO" value="63030" />
    <add key="LicenseNumberMO" value="123456789" />
    <add key="FirstFourLettersofPolicyNumberForMissouri" value="MOPA" />
    <add key="SecondDriverLicenseNumberMO" value="111234567" />
    <add key="ValidDateOfBirthForDriverTwoMO" value="11/11/1986" />
    <add key="SecondDriverLastNameMO" value="TESTMO" />
    <add key="POBoxZipCodeMO" value="63001" />

    <add key="LoginUserNameForWI" value="EAUser" />
    <add key="LoginPasswordForWI" value="Gainsco99" />
    <add key="WIAgency" value="A57451" />
    <add key="WIProducer" value="COFORGE PARTNER4" />
    <add key="FirstNameWI" value="JO" />
    <add key="LastNameWI" value="TESTWI" />
    <add key="MailingCityWI" value="ALLENTON" />
    <add key="ZipCodeWI" value="53002" />
    <add key="LicenseNumberWI" value="P7894561239789" />
    <add key="FirstFourLettersofPolicyNumberForWisconsin" value="WIPA" />
    <add key="SecondDriverLicenseNumberWI" value="A7894561239788" />
    <add key="ValidDateOfBirthForDriverTwoWI" value="11/11/1986" />
    <add key="SecondDriverLastNameWI" value="TESTWI" />
    <add key="POBoxZipCodeWI" value="53003" />
    <add key="MVRFirstNameWI" value="PERSA" />
    <add key="MVRLastNameWI" value="JOINER" />
    <add key="MVRDriverLicenseNumberWI" value="M6232018495106" />
    <add key="MVRDOBWI" value="04/16/1963" />
    <add key="MVRWrongDOBWI" value="11/11/1977" />

    <add key="ADDMailingAddressAL" value="144 BROADMOOR LN" />
    <add key="ADDCityAL" value="ALABASTER" />
    <add key="ADDZipAL" value="35007" />
    <add key="ALState" value="AL" />


    <add key="As400FileSchema" value="LDSQA2FIL" />
    <add key="RemoteServerUrl" value="http://localhost:4477/wd/hub" />
    <add key="ArizonaAgentUserId" value="TXNA22" />
    <add key="ArizonaAgentCode" value="99988" />
    <add key="ArizonaAgentPassword" value="Password1@" />
    <add key="FloridaAgentUserId" value="TXNA22" />
    <add key="FloridaAgentCode" value="99911" />
    <add key="FloridaAgentPassword" value="Password1@" />
    <add key="GeorgiaAgentUserId" value="TXNA22" />
    <add key="GeorgiaAgentCode" value="99913" />
    <add key="GeorgiaAgentPassword" value="Password1@" />
    <add key="NewMexicoAgentUserId" value="TXNA22" />
    <add key="NewMexicoAgentCode" value="99935" />
    <add key="NewMexicoAgentPassword" value="Password1@" />
    <add key="OklahomaAgentUserId" value="TXNA22" />
    <add key="OklahomaAgentCode" value="99940" />
    <add key="OklahomaAgentPassword" value="Password1@" />
    <add key="SouthCarolinaAgentUserId" value="TXNA22" />
    <add key="SouthCarolinaAgentCode" value="99922" />
    <add key="SouthCarolinaAgentPassword" value="Password1@" />
    <add key="TennesseeAgentUserId" value="TXNA22" />
    <add key="TennesseeAgentCode" value="99947" />
    <add key="TennesseeAgentPassword" value="Password1@" />
    <add key="TexasAgentUserId" value="TXNA22" />
    <add key="TexasAgentCode" value="99966" />
    <add key="TexasAgentPassword" value="Password1@" />
    <add key="VirginiaAgentUserId" value="TXNA22" />
    <add key="VirginiaAgentCode" value="99951" />
    <add key="VirginiaAgentPassword" value="Password1@" />
    <add key="TimeSpanWaitTicks" value="900000000" />
    <add key="TimeSpanShortWaitTicks" value="50000000" />
    <add key="TimeSpanMedianWaitTicks" value="100000000" />
    <add key="SleepTime" value="5000" />
    <add key="AccountAndRoutingNumber" value="267084131" />
    <add key="InvalidAccountAndRoutingNumber" value="267084987" />
    <add key="LiveFirstNameTX" value="ALTON" />
    <add key="LiveMiddleNameTX" value="LYNN" />
    <add key="LiveLastNameTX" value="ADAMS" />
    <add key="LiveAddressTX" value="12404 FM 858" />
    <add key="LiveCityTX" value="BEN WHEELER" />
    <add key="LiveZipTX" value="75754" />
    <add key="LiveVIN" value="1FMCU03106KB07709" />
    <add key="LiveSecondVIN" value="3GNEC16T6YG157177" />
    <add key="FakeSecondVIN" value="3GNEC16T6YG157177" />
    <add key="LiveDOB" value="03/17/1953" />
    <add key="FakeFirstNameTX" value="ABU" />
    <add key="FakeMiddleNameTX" value="K" />
    <add key="FakeLastNameTX" value="FUAD" />
    <add key="FakeAddressTX" value="44323 TSSEE 323" />
    <add key="FakeCityTX" value="RICHARDSON" />
    <add key="FakeZipTX" value="75081" />
    <add key="ValidFirstNameTX" value="ABUI" />
    <add key="ValidMiddleNameTX" value="K" />
    <add key="ValidLastNameTX" value="FUADDD" />
    <add key="ValidAddressTX" value="504 Towne House Lane" />
    <add key="ValidCityTX" value="RICHARDSON" />
    <add key="ValidZipTX" value="75081" />
    <add key="FakeVIN" value="1FMCU03106KB07709" />
    <add key="FakeDOB" value="03/17/1953" />
    <add key="AllowServiceCharges" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PDFFromRequestDBPoolingTimeSpan" value="6000" />
    <add key="PDFFromRequestDBMaxRetry" value="5" />
    <add key="PDFFileExistPoolingTimeSpan" value="6000" />
    <add key="PDFFileExistBMaxRetry" value="5" />
    <add key="RequestMaxRetry" value="100" />


  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <clear />
    <add name="As400" providerName="Microsoft.HostIntegration.MsDb2Client" connectionString="Data Source=ReportingService;User Id=CSOFT;Password=u4WpV@3e!CeEbuDS;Authentication=Server;Initial Catalog=C002639T;Network Transport Library=TCPIP;Host CCSID=37;PC Code Page=1252;Network Address=172.20.10.70;Network Port=446;Package Collection=LDSBIZFIL;Default Schema=LDSBIZFIL;Process Binary as Character=False;Units of Work=RUW;Provider=DB2OLEDB;Default Qualifier=LDSBIZFIL;DBMS Platform=DB2AS400;Use Early Metadata=False;Defer Prepare=False;Persist Security Info=True;Derive Parameters=False;Pooling=True;Rowset Cache Size=0;DateTime as Char=False;Decimal As Numeric=False;Connect Timeout=15;Max Pool Size=100;Datetime As Date=False;Database Name=C002639T;AutoCommit=False;FastLoad Optimize=False" />
    <add name="SmokeTestsContext" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SmokeTests;Data Source=DALSQLQA2014\SQLQA2016" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>